
div.balance {
  color: #65B33C;
  font-size: 18px;
}


div.balance div.price {
  display: inline;
  color: #C74530;
  padding-left: 10px;
}


/* table part */

tr.sub td.amount {
  color: red;
}

tr.add td.amount {
  color: green;
}

tr.status-1 {
  color: blue;
}

tr.status-4 td,tr.status-5 td,tr.status-6 td {
  background-color: #FF8E8E;
  color: white;
}

td.date {
  min-width:70px;
}

